html * {
    margin: 0;
    font-size:12pt;
    /*padding: 0; SELECT IS NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

#wrapper {
    text-align:left;
    margin:0 auto;
    width:1000px;
    min-height:700px;
    padding:2x;
}

ul {
    margin:0;
    padding:0px;
}

body {
    text-align:center;
    background: white;
    color: #303030;
    font: 12pt 'Verdana', 'Arial', 'Helvetica', sans-serif;
}
.logo {
/*    */
}

#header {

  color:black;
  height:45px;
  width:1000px;
  margin:0 auto;
}

#headerBar {
  width:100%;
/*  background:#000080;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:black;*/
}

.logo img {
     border:none;
     border-width:0;
     display:inline;
     margin-right:none;
     padding-bottom:50px;
     float:left;
}

.logo #navlinks {
     color:black;
     background-color:#f8f8f8;
     border: 1px solid #ccc;
     float:right;
     height:40;
     width:500;
     display:inline;
     margin-top:18px;
}

.logo #navlinks p {
     font-size:12px;
}

.logo #navlinks button {
     font-size:12px;
     text-decoration:none;
}

.logo #navlinks button a {
     text-decoration:none;
}

.logo #navlinks a {
  font-size: 12px;
  text-decoration:none;
  color:black;
}

#clear {
        clear:both;
}

#footer {
    background:#000080;
    color:white;
    text-align:center;
    font-size:8pt;

    height:245px;
    width:100%;
    border-top-color:black;
    border-top-style:solid;
    border-top-width:1px;
}

#footer a  {
    color:#FFFFFF;
}

p {
    padding:10px;
    line-height:14pt;
}

a:link, a:visited {
    color: #000080;
    text-decoration: none;
}

a:hover  {
    color: #000080;
   text-decoration:underline;
}

h1 {
    color:#000080;
    font-size: 21pt;
}

h2, h3 {
    color:#000080;
    margin-bottom:10px;
}

h2 {
   font-size:16pt;
}

li {
    list-style-type:none;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 12pt verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
/*	width: 250px;*/
/*	height: 150px;*/
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    width:1000px;
    margin: 0 0px 10px 0px;
}

/* NAVIGATION MENU */

.nav {
    /*background: #000080;*/
    background: #000080;
    border: 1px solid black;
    color:white;
    padding: /*7px*/ 5px /*12px*/5px 5px;
/*    margin-top:40px;*/
    height:20px;
}

.nav button {
    font-size:12px;
    margin-bottom:5px;
}

.menuButton {
    font-size: 8pt;
    /*padding: 0 5px;*/
}

.menuButton a {
    color: white;
    padding: 4px 6px;
}
.menuButton a:hover {
    text-decoration:none;
}
/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    /*border: 1px solid #b2d1ff;*/
    border: 1px solid #000080;
    color: #000080;
    margin: 10px 0 15px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 1px solid #ccc;
}
td, th {

    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #000080;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: white;
    display: block;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

.list td {
    padding: 10px;
}

/* PAGINATION */

.paginateButtons {
    color: gray;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    margin: 5px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

.dialog input {
/*    width:350px;*/
}

/* ACTION BUTTONS */

.buttons {
    position:absolute;
    bottom:20px;
    right:0px;
    margin-top:15px;
    float:right;
}

.buttons a {
    font-size:12pt;
    text-decoration:none;
    text-align:center;
    line-height:1.4em;
    width:6em;
    color:white;
    background-color: #FF6A00;
    border:1px solid black;
    padding: 5px;
    margin-right:20px
}

.buttons a:hover {
    background:#ff8f40;
    color:#303030;
}


.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/* Our styles - import */



/*Forum */

.topicList {


}

td img {
     padding:10px;
     width:90px;
     height:auto;

}

.messageAuthor {
    float:left;
    width:70px;
    background-color: #EEEEEE;
    margin-right:15px;
    border-style:solid;
    border-width:1px;
    border-color: #EEE;
    padding:5px;
}

.tekEventListItem {
    border: 2px solid #000080;
    padding:10px;
    margin:10px;
}

.tekEventListItem a {
    color:black;
}

.tekEventShow p {
    margin:10px;
}


#headrightwrap {
    /*float:right;*/
    /*width:900px;*/
}

/* Event Create Page */

.tagsDiv {
    width:350px;
}


/* Event home page */


.eventBody {

    width:1070px;
    margin: 0 0px 10px 0px;
}

#eventContent {
    margin:1em 0;
    float:left;
    width:640px;
}

.eventPost {
    margin: 1em 0;
    font-size: 12pt;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

#eventBanner {
    margin:0 auto;
    height:55px;
    background: #f8f8f8;
    padding:10px;
    border-width:1px;
    border-color:#000080;
    border-style:solid;
    margin-top:10px;
    margin-bottom:10px;
    width:980px;
}

#eventSecondaryContent div {
    background-color:white;
    padding:10px;
    border-width:1px;
    border-color:#000080;
    border-style:solid;
    margin-bottom:25px;
}

#eventSecondaryContent h1 {
    margin:0;
    padding:0;
}

#eventSponsorList ul {
    list-style-type:none;
}

#eventSecondaryContent {
    float:right;
    width:300px;
    min-height:700px;
    margin: 1em 0;
    font-size: 17px;
    padding: 1em;
    padding-bottom:0px;
    border: 1px solid #ccc;
    background: #f8f8f8;
}


/* User info */

img.avatar {
    height:100px;
    width:auto
}

#userInfo {
  padding-top:15px;
  margin-right:25px;
  font-size: 12px;
  float:right;
}

#userInfo a {
  font-size: 12px;
  text-decoration:underline;
  color:black;

}

#search {
  padding-top:10px;
  margin-right:25px;
  font-size: 12px;
  float:right;
}

label#searchInstructions {
    font-size:12px;
}

input#query {
   font-size:12px;
   width:100px;
}

input#searchButton {
   font-size:12px;
}

.indexCell {
    background:#000080 url(../images/bottom-left.png) no-repeat left bottom;
    color:white;
    margin:5px;
    margin-bottom:15px;
    width:320px;
    height:250px;
    position:relative;
    float:left;
}

.indexCell p {
    padding:0 20px 0 20px;
}

.indexCell h3 {
    background: url(../images/top-right.png) no-repeat right top;
    color:white;
    font-weight:bolder;
    padding:10px 20px 0 20px;
}

#indexBlurb {
    /*border: 2px solid #000080;*/
    padding:10px;
    width:100%;
    font-size:13pt;
    float:left;
}

#indexBlurb h3 {
    margin-left:40px;
}

#loginBlurb {
   color:white;
/*    border: 2px solid #5DD0C0;*/
    width:320px;
    float:right;
    background:#5ed1ba url(../images/bottom.png) no-repeat left bottom;

}

#loginBlurb p {
    padding:0 20px 20px 20px;
}

#loginBlurb h3 {
    background: url(../images/top.png) no-repeat left top;
    padding:10px;
    color:white;
}

#indexSearch {
    padding:20px;
   /* margin-top:25px;*/
    text-align:center;
    font-size:18pt;
    font-weight:normal;
    width:100%;
    float:right;
}

#indexSearch label {
    font-weight:bold;
    color:#000080;
}

#indexSearch input {
    background-color:#000080;
    color:white;
    font-size:18pt;
    border:1px solid black;
}

#indexSearch .searchButton {
    background-color: #FF6A00;
}

#indexSearch label {
    font-size:18pt;
}

#loginToggle {

}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    width:950;
}

legend {
    font-weight: bold;
}

label.editdetail {
    display: block;
    font-size:1em;
    font-weight:bold;
}

label.loginlabel {
    display: block;
}

input.editdetail {
/*    width: 200px;*/
    font-size: 1.1em;
}

input.logininput {
    width: 200px;
    font-size: 13px;
}

p.explanation {

}

textarea.bio {
    width:400;
    font-size:13px;
}

 #intro {
    background-color:#000080;
    width:955px;
    font-size:28pt;
    font-weight:normal;
/*  border-style:solid;
  border-width:1px;
  border-color:#000080;*/
    line-height:1.5;
    color:white;
    text-align:center;
}

#sub {
  font-size:13pt;
  font-weight:normal;
  line-height:1.5;
  color:white;
  text-align:center;
}


#intro strong {
  font-size:30pt;
  font-weight:normal;
  color:#FF6A00;
}

p.homesum {
  margin: 1em 0;
  font-size: 17px;
  font-weight:bold;
  padding: 1em;
  border: 1px solid #ccc;
  background: #f8f8f8;
  width:940;
}

p.minitask {
  margin: 1em 0;Search
  font-size: 10px;
  padding: 1em;
  border: 1px solid #ccc;
  background: #f8f8f8;
  width:500;
  max-height:20;
}

p#grayBox {
  margin: 1em 0;
  font-size: 17px;
  font-weight:bold;
  padding: 1em;
  border: 1px solid #ccc;
  background: #f8f8f8;
  width:940;
  min-height:20px;
}

#recently {
  float:left;
  width:540px;
  margin-right:20px;
  padding-bottom:50px;Search
}

#descintro {
  float:right;
  width:490px;
  padding-bottom:50px;
}

.happening {
  border:1px dashed grey;
  padding:10px;
  width:540px;
  min-height:30px;
  background-color:#F0F0F1;
}

img.homeav {
  display:inline;
}

.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
  background-color:#000080; /* tab background */
}

label.expl {
    font-size:13px;
}

li.file {
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 1em 0;
    padding: 0.5em;
}

/*Search*/

#advSearch {

    }

#advSearch input {
    display:inline;
}

#advSearch label {
    display:inline
}

#advSearch fieldset {
    width:auto;
    margin:0;
}

#advSearch .datePicker {
    width:230px;
    display:inline;
}

#advSearch .datefield {
    width:230px;
    display:inline;
}

textarea#message{
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}

