html * {
    margin: 0;
    font-size:12pt;
    /*padding: 0; SELECT IS NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

#wrapper {
    text-align:left;
    margin:0 auto;
    width:1000px;
    padding:2x;
}

body {
    text-align:center;
    background: white;
    color: #303030;
    font: 12pt 'Verdana', 'Arial', 'Helvetica', sans-serif;
}
.logo {
     
}

.logo img {
     border:none;
}

#footer {
    background-image:url(../images/footer-bg.png);
    background-repeat: repeat-x;
    color:white;
    text-align:center;
    font-size:8pt;
    clear:both;
    height:95px;
    border-top-color:black;
    border-top-style:solid;
    border-top-width:1px;
}

p {
    padding:10px;
    line-height:14pt;
}

a:link, a:visited {
    color: #009999;
    
    text-decoration: none;
}

a:hover  {
    color: #009999;
   text-decoration:underline;
}

h1 {
    color:#009999;

    font-size: 18pt;
    margin: .8em 0 .3em 0;
}

h2, h3 {
    color:#009999;
    margin-bottom:10px;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 12pt verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 0px 10px 0px;
}

/* NAVIGATION MENU */

.nav {
    background: #009999;
    border: 1px solid black;
    color:white;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 11pt;
    padding: 0 5px;
}
.menuButton a {
    color: white;
    padding: 4px 6px;
}
/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 1px solid #ccc;
}
td, th {

    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #009999;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: white;
    display: block;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

.list td {
    padding: 20px;
}

/* PAGINATION */

.paginateButtons {
    background: #009999;
    border: 1px solid black;
    color: white;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid black;
    border-color: black;
    color: #666;
    margin: 5px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    position:absolute;
    bottom:20px;
    right:0px;
    margin-top:15px;
    float:right;
}

.buttons a {
    font-size:12pt;
    text-decoration:none;
    text-align:center;
    line-height:1.4em;
    width:6em;
    color:white;
    background-color: #FF6A00;
    border:1px solid black;
    padding: 5px;
    margin-right:20px
}

.buttons a:hover {
    background:#ff8f40;
    color:#303030;
}


.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/* Our styles - import */



/*Forum */

.topicList {

    
}

td img {
     padding:10px; 
     width:90px; 
     height:auto; 
    
}

.messageAuthor {
    float:left;
    width:70px;
    background-color: #EEEEEE;
    margin-right:15px;
    border-style:solid;
    border-width:1px;
    border-color: #EEE;
    padding:5px;																			
}

.tekEventListItem {
    border: 2px solid #009999;
    padding:10px;
    margin:10px;
}

.tekEventListItem a {
    color:black;
}

.tekEventShow p {
    margin:10px;
}

#eventSponsorList {
    padding:10px;
    border-width:1px;
    border-color:#009999;
    border-style:solid;
}

#eventSponsorList ul {
    list-style:none;
}


#userInfo {
  margin-top:25;
  padding: 5;
}

.indexCell {
    background:#009999 url(../images/bottom-left.png) no-repeat left bottom;
    color:white;
    margin:5px;
    margin-bottom:15px;
    width:320px;
    height:250px;
    position:relative;
    float:left;
}

.box-outer {

}

.box-inner {

}

.indexCell p {
    padding:0 20px 0 20px;
}

.indexCell h3 {
    background: url(../images/top-right.png) no-repeat right top;
    color:white;
    font-weight:bolder;
    padding:10px 20px 0 20px;
}

#indexBlurb {
    /*border: 2px solid #009999;*/
    padding:10px;
    width:100%;
    font-size:13pt;
    float:left;
}

#indexBlurb h3 {
    margin-left:40px;
}

#loginBlurb {
   color:white;
/*    border: 2px solid #5DD0C0;*/
    width:320px;
    float:right;
    background:#5ed1ba url(../images/bottom.png) no-repeat left bottom;

}

#loginBlurb p {
    padding:0 20px 20px 20px;
}

#loginBlurb h3 {
    background: url(../images/top.png) no-repeat left top;
    padding:10px;
    color:white;
}

#indexSearch {
    padding:20px;
   /* margin-top:25px;*/ 
    text-align:center;
    font-size:18pt;
    font-weight:normal;
    width:100%;
    float:right;
}

#indexSearch label {
    font-weight:bold; 
    color:#009999;
}

#indexSearch input {
    background-color:#009999; 
    color:white; 
    font-size:18pt;
    border:1px solid black;
}

#indexSearch .searchButton {
    background-color: #FF6A00; 
}

#indexSearch label {
    font-size:18pt;
}

#loginToggle {
    
}

fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ccc;
  background: #f8f8f8;
  width:950;
}

legend {
  font-weight: bold;
}

label.editdetail {
  display: block;
  font-size:1em;
  font-weight:normal;
}

label.loginlabel {
  display: block;
}

input.editdetail {
  width: 200px;
  font-size: 1.1em;
}

input.logininput {
  width: 200px;
  font-size: 13px;
}

p.explanation {

}

textarea.bio {
  width:400;
  font-size:13px;
}

 #intro {
  background-color:#009999;
  width:955px;
  font-size:28pt;
  font-weight:normal;
/*  border-style:solid;
  border-width:1px;
  border-color:#009999;*/
  line-height:1.5;
  color:white;
  text-align:center;
}

#sub {
  font-size:13pt;
  font-weight:normal;
  line-height:1.5;
  color:white;
  text-align:center;
}


#intro strong {
  font-size:30pt;
  font-weight:normal;
  color:#FF6A00;
}

p.homesum {
  margin: 1em 0;
  font-size: 17px;
  font-weight:bold;
  padding: 1em;
  border: 1px solid #ccc;
  background: #f8f8f8;
  width:940; 
}
